<ion-view view-title="Contacts">
  <ion-nav-buttons side="right">
    <button class="button" ng-show="shouldShowDelete" ng-click="hideDelete()">
      Cancel
    </button>
    <button class="button" ng-hide="shouldShowDelete" ng-click="openAddNewContactModal()">
      <b class="ion-android-add" style="font-size:18pt"></b>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe = true">
      <ion-item ng-repeat="item in contacts | filterContact:['firstName', 'lastName']:searchText | orderObjectBy:'firstName':false" class="contact-box contact-box-1" on-hold="showDelete()" ng-click="showContactDetail(item)">
        <a href="#" class="item-link">
          <div class="item-left">
            <img ng-src="{{item.avatar || 'img/no-avatar.png'}}">
          </div>
          <div class="item-right">
            <h2 class="item-name">{{item.firstName + ' ' + item.lastName}} <span class="font-1">({{item.username}})</span></h2>
            <div class="item-status" ng-show="item.status"><img src="img/online.png"><span> Online</span></div>
          </div>
        </a>
        <ion-option-button class="button-assertive"
                           ng-click="showConfirm(item._id)">
          Delete
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="deleteContact(item._id)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
