/* Empty. Add your own CSS if you like */
.full-screen-pane {
  position: absolute;
  background-color: #00aff0;
  z-index: 10 !important;
}
.login-form {
  width: 80%;
  margin: auto;
}
.login-form .item {
  margin-bottom: 5px;
}
.login-submit {
  width: 81%;
  margin: auto;
  margin-top: 10px;
}
.app-logo {
  width: 50%;
  height: 50%;
  margin-bottom: 25px;
}
.align-center {
  text-align: center;
}
.button-login {
  border: none;
}
.text-error {
  color: #ff0000;
}
.menu-custom .item {
  font-size: 14pt;
}
.menu-custom .item > i {
  margin-right: 10px;
}
.profile-box {
  padding: 15px;
}
.profile-box .avatar, .profile-box .info {
  float: left;
}
.profile-box .info .title {
  font-size: 13pt;
  font-weight: bold;
}
.profile-box .info .status-message {
  font-size: 9pt;
  font-style: italic;
}
.profile-box .avatar .image-avatar {
  max-height: 48px !important;
  max-width: 48px !important;
  padding: 5px;
  border: 2px solid #9c9c9c;
}
.clearfix {
  clear: both;
}
.auth-process .spinner svg {
  width: 48px;
  height: 48px;
  stroke: #444;
  fill: #fff;
}
.auth-process .auth-process-message{
  color: #fff;
}
.contact-box-1 {
  height: 70px;
}
.contact-box .item-content {
  padding: 0px;
}
.contact-box .item-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 100%;
  padding: 15px;
}
.contact-box .item-left {
  display: inline-block;
  border: 1px solid #9c9c9c;
  border-radius: 50%;
  padding: 2px 2px 0 2px;
  margin-right: 10px;
}
.contact-box-1 .item-left img {
  width: 36px;
  height: 32px;
  border-radius: 50%;
}
.contact-box .item-right {
  display: inline-block;
  line-height: 10pt;
}
.contact-box .item-right h2 {
  padding-bottom: 3px;
}
.contact-box .item-right .item-status span {
  font-size: 8pt;
  text-align: left;
}

.contact-box-2 {
  height: 40px;
  padding: 4px;
}
.contact-box-2 .item-left img {
  width: 26px;
  height: 22px;
}
.contact-box-2 .item-left {
  border-radius: 0 !important;
}

.fade-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.modal {
  min-height: 240px;
  top: 20%;
  right: 5%;
  bottom: 20%;
  left: 5%;
  width: 90%;
}

.modal-backdrop-bg {
  background-color: #000;
  opacity: 0.5;
}

.double-header {
  padding: 0px 10px;
  top: 98px;
}

.font-1 {
  font-size: 11pt;
  font-style: italic;
}

.contact-detail-wrapper {
  text-align: center;
}

.contact-detail-wrapper .avatar {
  height: 50%;
  width: 35%;
  border-radius: 50%;
  border: 2px solid #c9c9c9;
  padding: 5px;
  position: relative;
  top: 30px;
  margin-bottom: 25px;
}

.button-fixed {
  margin: 5px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: 999;
}
