/* Empty. Add your own CSS if you like */
.full-screen-pane {
  position: absolute;
  background-color: #00aff0;
  z-index: 10 !important;
}

.login-form {
  width: 80%;
  margin: auto;
}
.login-form .item {
  margin-bottom: 5px;
}

.login-submit {
  width: 81%;
  margin: auto;
  margin-top: 10px;
}

.app-logo {
  width: 50%;
  height: 50%;
  margin-bottom: 25px;
}

.align-center {
  text-align: center;
}

.button-login {
  border: none;
}

.text-error {
  color: #ff0000;
}

.menu-custom .item {
  font-size: 14pt;
}

.menu-custom .item > i {
  margin-right: 10px;
}

.profile-box {
  padding: 15px;
}
.profile-box .avatar, .profile-box .info {
  float: left;
}
.profile-box .info .title {
  font-size: 13pt;
  font-weight: bold;
}
.profile-box .info .status-message {
  font-size: 9pt;
  font-style: italic;
}
.profile-box .avatar .image-avatar {
  max-height: 48px !important;
  max-width: 48px !important;
  padding: 5px;
  border: 2px solid #9c9c9c;
}
.clearfix {
  clear: both;
}
